body {
    background-color: #af7142;
    color: #000000;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #6f3a26;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

input {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #cd3d2a80;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #924a23;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

li:hover {
    background-color: #c16713;
}   

li span {
    flex: 1;
    text-align: left;
}

.deleteButton {
    margin-left: 5px;
}